{
  "$schema": "https://json.schemastore.org/commitlintrc.json",
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "type-case": [
      2,
      "always",
      "lower-case"
    ],
    "type-empty": [
      2,
      "never"
    ],
    "scope-case": [
      2,
      "always",
      [
        "lower-case",
        "camel-case",
        "pascal-case",
        "upper-case"
      ]
    ],
    "subject-empty": [
      2,
      "never"
    ],
    "body-leading-blank": [
      2,
      "always"
    ],
    "footer-leading-blank": [
      2,
      "always"
    ]
  }
}
